# ⚠️ รหัสสำหรับเข้าระบบ StegCracker
WORKER_TOKEN=my-super-secret-token-1234

# 🔴 Path ของ Steghide ใน Kali Linux (ปกติลงผ่าน apt-get จะสามารถเรียกได้ตรงๆ แต่ถ้าไม่ได้ให้ใส่ Full Path เช่น /usr/bin/steghide)
STEGHIDE_BIN=steghide
